* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 30px;
}

h1 .highlight {
    color: #00a2ff; /* Blue color for 'Manager' */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #00a2ff; /* Blue color for links */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

nav ul li a.active,
nav ul li a:hover {
    text-decoration: underline;
}
